<!-- !!! Footer !!! -->
<footer>
  <ul class="sci">
    <li>
      <a [href]="'https://m.facebook.com/'"
        ><img src="./assets/images/icons/facebook.png" alt="facebook"
      /></a>
    </li>
    <li>
      <a [href]="'https://m.twitter.com/'"
        ><img src="./assets/images/icons/twitter.png" alt="twitter"
      /></a>
    </li>
    <li>
      <a [href]="'https://m.instagram.com/'"
        ><img src="./assets/images/icons/instagram.png" alt="instagram"
      /></a>
    </li>
  </ul>
  <a class="copyrightText" href="https://code-pro.netlify.app/">
    Copyright &copy; 2022 {{ "[" }} code : PRO {{ "]" }} - All rights reserved.
  </a>
</footer>
