<!-- !!! Footer !!! -->
<footer>
  <ul class="sci">
    <li>
      <a [href]="'https://m.facebook.com/'"
        ><img src="./assets/images/icons/facebook.png" alt="facebook"
      /></a>
    </li>
    <li>
      <a [href]="'https://m.twitter.com/'"
        ><img src="./assets/images/icons/twitter.png" alt="twitter"
      /></a>
    </li>
    <li>
      <a [href]="'https://m.instagram.com/'"
        ><img src="./assets/images/icons/instagram.png" alt="instagram"
      /></a>
    </li>
  </ul>
  <p class="copyrightText">
    Copyright &copy; 2022 {{ "{" }} Code : Pro {{ "}" }} - All rights reserved.
  </p>
</footer>
