section {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 110vh;
  background: linear-gradient(#151415, #404040);
  flex-direction: column;
}

.title {
  top: 100vh;
  text-align: center;
}

.title__h2 {
  color: #fff;
  text-decoration: underline;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.container::after,
.container::before {
  display: none;
}

.container__box {
  position: relative;
  padding: 80px 40px 40px;
  transition: 1000ms;
  text-align: center;
  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1));
}

.container__box:hover {
  background: rgb(255, 0, 87);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 0, 87));
  transition: 1000ms;
}

.container__box::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 160px;
  height: 80px;
  background: url("../../../assets/images/icons/quotes.png");
  background-size: contain;
  transition: 1000ms;
  pointer-events: none;
  opacity: 0.05;
  transform: rotate(180deg);
}

.container__box:hover::before {
  transform: translateY(-60px) rotate(180deg);
  opacity: 1;
  transition: 1000ms;
}

.container__box::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 160px;
  height: 80px;
  background: url("../../../assets/images/icons/quotes.png");
  background-size: contain;
  transition: 1000ms;
  pointer-events: none;
  opacity: 0.05;
  transform: translateY(0px);
}

.container__box:hover::after {
  transform: translateY(60px);
  opacity: 1;
  transition: 1000ms;
}

.container__box--imgBox {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.container__box--imgBox > img {
  width: 120px;
  height: 120px;
}

.container__box > h3,
.container__box > p {
  margin: 0;
  padding: 0;
  transition: 1000ms;
}

.container__box > h3 {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #ff0057;
}

.container__box > h3 > span {
  font-weight: 600;
  font-size: 12px;
  color: rgb(150, 150, 150);
  transition: 1000ms;
}

.container__box:hover > p,
.container__box:hover > h3,
.container__box:hover > h3 > span {
  color: #fff;
  transition: 1000ms;
}

.formBox {
  height: 20vw;
  width: 100%;
  padding: 2%;
  border: 1px solid #ff0057;
  border-radius: 20px;
}

.formBox__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  section {
    flex-direction: row;
    padding: 50px 0;
  }

  .container__box {
    margin-top: 80px;
  }
}
