<section>
  <div class="title">
    <h2 class="title__h2">COMENTARIOS</h2>
  </div>
  <div class="container">
    <div class="container__box">
      <div class="container__box--imgBox">
        <img src="../../../assets/images/cards/aperitivos.jpg" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        dolorem possimus, harum officiis ipsa cupiditate tenetur molestias
        blanditiis. Omnis quo odio vitae perferendis ea nulla numquam commodi!
        Consectetur, eaque doloribus?
      </p>
      <h3>
        Some Famous <br />
        <span>Creative Director</span>
      </h3>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <div class="container__box">
      <div class="container__box--imgBox">
        <img src="../../../assets/images/cards/aperitivos.jpg" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        dolorem possimus, harum officiis ipsa cupiditate tenetur molestias
        blanditiis. Omnis quo odio vitae perferendis ea nulla numquam commodi!
        Consectetur, eaque doloribus?
      </p>
      <h3>
        Some Famous <br />
        <span>Creative Director</span>
      </h3>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <div class="container__box">
      <div class="container__box--imgBox">
        <img src="../../../assets/images/cards/aperitivos.jpg" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        dolorem possimus, harum officiis ipsa cupiditate tenetur molestias
        blanditiis. Omnis quo odio vitae perferendis ea nulla numquam commodi!
        Consectetur, eaque doloribus?
      </p>
      <h3>
        Some Famous <br />
        <span>Creative Director</span>
      </h3>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
    <div class="container__box">
      <div class="container__box--imgBox">
        <img src="../../../assets/images/cards/aperitivos.jpg" alt="" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
        dolorem possimus, harum officiis ipsa cupiditate tenetur molestias
        blanditiis. Omnis quo odio vitae perferendis ea nulla numquam commodi!
        Consectetur, eaque doloribus?
      </p>
      <h3>
        Some Famous <br />
        <span>Creative Director</span>
      </h3>
    </div>
    <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
  </div>
  <form
    name="contact"
    data-netlify="true"
    class="formBox"
    (ngSubmit)="handleSubmit()"
    [formGroup]="contactForm"
  >
    <h2 class="formBox__h2">Comenta el combo</h2>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="text"
            name="nombres"
            required
            formControlName="nombres"
          />
          <span class="text">Nombres</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="text"
            name="apellidos"
            required
            formControlName="apellidos"
          />
          <span class="text">Apellidos</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input type="email" name="email" required formControlName="email" />
          <span class="text">Email</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="number"
            name="Celular"
            required
            formControlName="celular"
          />
          <span class="text">Celular</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox textarea">
          <textarea
            name="comentario"
            id="comentario"
            cols="30"
            rows="10"
            formControlName="comentario"
            required
          ></textarea>
          <span class="text">Escribe tu comentario</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <input
          type="submit"
          value="Comentar"
          [disabled]="contactForm.invalid"
        />
      </div>
    </div>
  </form>
</section>
