<section>
  <!-- !!!COMENTARIOS!!! -->
  <div class="title">
    <h2 class="title__h2">COMENTARIOS</h2>
  </div>
  <div class="container" *ngIf="comentarios && comentarios.length">
    <div
      *ngFor="let comentario of comentarios; let i = index"
      class="container__box"
    >
      <div class="container__box--imgBox">
        <img
          *ngIf="userArray[i] && userArray[i].img"
          [src]="userArray[i].img || '../../../assets/images/user.png'"
          [alt]="userArray[i].nombres || ''"
        />
        <img
          *ngIf="userArray[i] && !userArray[i].img"
          src="../../../assets/images/user.png"
          [alt]="userArray[i].nombres || ''"
        />
      </div>
      <p>{{ comentario.texto }}</p>
      <h3 *ngIf="userArray[i] && userArray[i].nombres">
        {{ userArray[i].nombres }} <br />
        <span>{{ userArray[i].apellidos || "" }}</span>
      </h3>
      <h3
        *ngIf="
          userArray[i] &&
          (!userArray[i].nombres || !userArray[i].nombres?.length)
        "
      >
        Anonimo <br />
        <span>Anonimo</span>
      </h3>
    </div>
  </div>

  <div *ngIf="!comentarios || !comentarios.length" class="sinComentarios">
    <h3 class="sinComentarios__h3">NO HAY COMENTARIOS PARA ESTE COMBO</h3>
  </div>

  <!-- !!! formulario !!! -->

  <form
    name="contact"
    data-netlify="true"
    class="formBox"
    (ngSubmit)="handleSubmit(comentarioID)"
    [formGroup]="contactForm"
  >
    <h2 class="formBox__h2">Comenta el combo</h2>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="text"
            name="nombres"
            required
            formControlName="nombres"
          />
          <span class="text">Nombres</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="text"
            name="apellidos"
            required
            formControlName="apellidos"
          />
          <span class="text">Apellidos</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input type="email" name="email" required formControlName="email" />
          <span class="text">Email</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox">
          <input
            type="number"
            name="Celular"
            required
            formControlName="celular"
          />
          <span class="text">Celular</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <div class="formBox__row--col-inputBox textarea">
          <textarea
            name="comentarios"
            id="comentarios"
            cols="30"
            rows="10"
            formControlName="comentarios"
            required
          ></textarea>
          <span class="text">Escribe tu comentario</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="formBox__row">
      <div class="formBox__row--col">
        <input
          type="submit"
          value="Comentar"
          [disabled]="contactForm.invalid"
        />
      </div>
    </div>
  </form>
</section>
