<section>
  <div class="container">
    <div class="title" [ngClass]="{hidde:window.innerHeight<600}">
      <h2 [ngClass]="{hidde:window.innerHeight<600}">Te esperamos en alguna de nuestras sedes</h2>
    </div>
    <div class="containerMap">
      <iframe id="map" width="600" height="100%" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="reservas">
      <button type="submit">Reserva ya!</button>
    </div>
    <div class="containerTiendas">
      <ul class="tiendas">
        <li onclick="getTienda('sanLuis')">
          <div class="title">San luis 2</div>
          <div class="containerPosition">
            <p><label for="direccion">Dirección:</label>
              Carrera 83 # 43 - 15
            </p>
            <p><label for="telefono">Teléfono:</label>
              324-397-3949</p>
            <label for="calificacion">Calificación:
              <p class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </label>
          </div>
        </li>
        <li onclick="getTienda('alcazares')">
          <div class="title">Alcazares</div>
          <div class="containerPosition">
            <p><label for="direccion">Dirección:</label>
              Carrera 83 # 43 - 15
            </p>
            <p><label for="telefono">Teléfono:</label>
              324-397-3949</p>
            <label for="calificacion">Calificación:
              <p class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </label>
          </div>
        </li>
        <li onclick="getTienda('centro')">
          <div class="title">Centro</div>
          <div class="containerPosition">
            <p><label for="direccion">Dirección:</label>
              Carrera 83 # 43 - 15
            </p>
            <p><label for="telefono">Teléfono:</label>
              324-397-3949</p>
            <label for="calificacion">Calificación:
              <p class="rating">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>