<section>
  <div class="container">
    <div class="title" [ngClass]="{ hidde: window.innerHeight < 600 }">
      <h2 [ngClass]="{ hidde: window.innerHeight < 600 }">
        Te esperamos en alguna de nuestras sedes
      </h2>
    </div>
    <div class="containerMap">
      <div id="map">
        <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
      </div>
      <!-- <iframe
        id="map"
        width="600"
        height="100%"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe> -->
    </div>
    <div class="reservas">
      <button type="submit">Reserva ya!</button>
    </div>
    <div class="containerTiendas">
      <ul class="tiendas">
        <li *ngFor="let tienda of campus" (click)="getTienda(tienda)">
          <div class="title">{{ tienda.sede }}</div>
          <div class="containerPosition">
            <p>
              <label for="direccion">Dirección:</label>
              {{ tienda.direccion }}
            </p>
            <p>
              <label for="telefono">Teléfono:</label>

              {{ tienda.telefono }}
            </p>
            <label for="calificacion">
              Calificación:
              <p class="rating">
                <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
                <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
                <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
                <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
                <fa-icon [icon]="faStar" aria-hidden="true"></fa-icon>
              </p>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
