<section>
  <div class="container" #container>
    <div class="title" [ngClass]="{ hidde: window.innerHeight < 600 }">
      <h2 [ngClass]="{ hidde: window.innerHeight < 600 }">
        Selecciona una de nuestras sedes y mira lo cerca que estamos
      </h2>
    </div>
    <div class="containerMap" #containerMap>
      <div id="map"></div>
    </div>
    <div class="reservas">
      <button type="submit">Reserva ya!</button>
    </div>
    <div class="containerTiendas">
      <ul class="tiendas">
        <li *ngFor="let tienda of campus" (click)="getTienda(tienda)">
          <div class="title">{{ tienda.sede }}</div>
          <div class="containerPosition">
            <p>
              <label for="direccion">Dirección:</label>
              {{ tienda.direccion }}
            </p>
            <p>
              <label for="telefono">Teléfono:</label>

              {{ tienda.telefono }}
            </p>
            <label for="calificacion">
              Calificación:
              <p class="rating">
                <fa-icon
                  [icon]="faStar"
                  aria-hidden="true"
                  [ngClass]="{ gold: tienda.calificacion >= 1, gray: true }"
                ></fa-icon>
                <fa-icon
                  [icon]="faStar"
                  aria-hidden="true"
                  [ngClass]="{ gold: tienda.calificacion >= 2, gray: true }"
                ></fa-icon>
                <fa-icon
                  [icon]="faStar"
                  aria-hidden="true"
                  [ngClass]="{ gold: tienda.calificacion >= 3, gray: true }"
                ></fa-icon>
                <fa-icon
                  [icon]="faStar"
                  aria-hidden="true"
                  [ngClass]="{ gold: tienda.calificacion >= 4, gray: true }"
                ></fa-icon>
                <fa-icon
                  [icon]="faStar"
                  aria-hidden="true"
                  [ngClass]="{ gold: tienda.calificacion >= 5, gray: true }"
                ></fa-icon>
              </p>
            </label>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
