<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<!-- !!! Header !!! -->
<header #header>
  <a [routerLink]="'/'" class="logo">Burguer's</a>
  <div class="toggle" #toggle (click)="toogleMenu()"></div>
  <ul class="menu" #menu>
    <li #list1><a (click)="redirectTo('/')">Inicio</a></li>
    <li #list2><a (click)="redirectTo('/menu')">Menú</a></li>
    <li #list4><a (click)="redirectTo('/tiendas')">Tiendas</a></li>
    <li #list3 *ngIf="!user">
      <a (click)="redirectTo('/login')">Login/SignUp</a>
    </li>
    <li #list4 *ngIf="user">
      <a (click)="redirectTo('/perfil')">{{
        user.nombres || user.numeroTelefono
      }}</a>
    </li>
    <li *ngIf="user">
      <a (click)="logOut()">cerrar</a>
    </li>

    <!-- <input type="text" class="search" /><label for="serch">Búscar</label> -->
  </ul>
</header>
<div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!-- !!! PEDIDO !!! -->
<section
  #pedido
  [ngClass]="{
    sectionPedido: true,
    active: activePedido()
  }"
>
  <div
    #screenEvent
    class="sectionPedido__screen"
    (click)="screenPedido()"
  ></div>
  <div class="sectionPedido__divTitle">
    <h3 class="sectionPedido__divTitle--title">Pedido</h3>
  </div>
  <div class="sectionPedido__labelTotalPedido">
    <label class="sectionPedido__labelTotalPedido--label">Total:</label>
  </div>
  <div class="sectionPedido__totalPedido">
    <strong class="sectionPedido__totalPedido--strong">
      ${{ totalPedido | number : "1.0" : "en-US" }}
    </strong>
  </div>
  <div class="sectionPedido__divIcon">
    <i class="sectionPedido__divIcon--i">{{ pedidosLength }}</i>
  </div>
  <div class="sectionPedido__combos" *ngIf="sectionContentPedido">
    <div
      class="sectionPedido__combos--target"
      *ngFor="let combo of combosPedido; let i = index"
    >
      <div class="sectionPedido__combos--target-title">
        {{ combo.nombre }}
      </div>
      <div class="sectionPedido__combos--target-content">
        <div class="content__price">
          <div class="content__price--value">
            ${{ combo.precio | number : "1.0" : "en-US" }}
          </div>
        </div>
        <div class="sectionPedido__combos--target-cantidad">
          <div class="sectionPedido__combos--target-cantidad">
            X
            <div class="cantidad__restCar" (click)="restCar(combo._id)">-</div>
            <input
              type="number"
              [value]="getCantidadCombos(combo._id)"
              disabled
            />
            <div class="cantidad__addCar" (click)="addCarCantidad(combo._id)">
              +
            </div>
            Unidad(es)
          </div>
        </div>
        <div class="sectionPedido__combos--target-divImg">
          <img
            class="sectionPedido__combos--target-divImg_img"
            [src]="combo.img"
            [alt]="combo.nombre"
          />
        </div>
        <div
          class="sectionPedido__combos--target-favorito"
          [ngClass]="{ favoriteActive: validateFavorite(combo._id) }"
        >
          <!-- {{ combo.favorito }} -->
        </div>
      </div>
    </div>
  </div>
  <div class="sectionPedido__button" *ngIf="sectionContentPedido">
    <button class="sectionPedido__button--btn" (click)="terminarPedido()">
      Finalizar Pedido
    </button>
  </div>
</section>

<!-- screen: screenPedido() -->
