/* !!! header !!! */
header {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 1));
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 5%;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease-out;
}

header.sticky {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

header > .logo {
  font-size: 40px;
  font-family: "Harlow Solid Italic";
  color: rgb(254, 254, 153);
  -webkit-text-stroke: 1px #f87c00;
}

header.sticky > .logo {
  color: #fff;
}

header > ul {
  position: relative;
  display: flex;
}

header > ul > li {
  position: relative;
  list-style: none;
}

header.sticky > ul > li:hover,
header.sticky > ul > li.active,
header > ul > li.active,
header > ul > li:hover {
  background-color: white;
  transition: 0.3s;
  border-radius: 50px;
}

header > ul > li > a {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #f87c00;
  font-family: "Passion One";
  text-transform: uppercase;
  cursor: pointer;
}

/* !!! RESPONSIVE !!! */

@media (max-width: 770px) {
  header,
  header.sticky {
    padding: 1%;
    z-index: 1000;
  }

  header > .logo {
    font-size: 30px;
    margin: 1%;
  }

  .menu {
    position: fixed !important;
    top: 10.5%;
    left: -100%;
    display: block !important;
    padding: 20%;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #000;
    transition: 500ms;
    z-index: 999;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .menu.active {
    top: 12%;
    left: 0;
    transition: 500ms;
  }

  header > ul > li > a {
    font-size: 30px;
    margin: 5% !important;
  }

  .toggle {
    width: 10%;
    height: 40px;
    background: url("../assets/images/icons/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
    transition: 500ms;
  }

  .toggle.active {
    background: url("../assets/images/icons/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    cursor: pointer;
  }
}

@media (max-width: 566px) {
  header > ul > li > a {
    margin: 15% !important;
  }

  .toggle {
    background-size: 80%;
  }

  .toggle.active {
    background-size: 60%;
  }
}

@media (max-width: 450px) {
  .menu.active {
    top: 10%;
  }
}
