<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: white">Loading...</p>
</ngx-spinner>
<!-- !!! Header !!! -->
<header #header>
  <a [routerLink]="'/'" class="logo">Burguer's</a>
  <div class="toggle" #toggle (click)="toogleMenu()"></div>
  <ul class="menu" #menu>
    <li #list1><a (click)="redirectTo('/')">Inicio</a></li>
    <li #list2><a (click)="redirectTo('/menu')">Menú</a></li>
    <li #list4><a (click)="redirectTo('/tiendas')">Tiendas</a></li>
    <li #list3 *ngIf="!user">
      <a (click)="redirectTo('/login')">Login/SignUp</a>
    </li>
    <li #list4 *ngIf="user">
      <a (click)="redirectTo('/perfil')">{{
        user.nombres || user.numeroTelefono
      }}</a>
    </li>
    <li *ngIf="user">
      <a (click)="logOut()">cerrar</a>
    </li>

    <!-- <input type="text" class="search" /><label for="serch">Búscar</label> -->
  </ul>
</header>
<div>
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!-- !!! PEDIDO !!! -->
<section
  #pedido
  [ngClass]="{
    sectionPedido: true,
    active: activePedido()
  }"
  (click)="screenPedido()"
>
  <div class="sectionPedido__divTitle">
    <h3 class="sectionPedido__divTitle--title">Pedido</h3>
  </div>
  <div class="sectionPedido__labelTotalPedido">
    <label class="sectionPedido__labelTotalPedido--label">Total:</label>
  </div>
  <div class="sectionPedido__totalPedido">
    <strong class="sectionPedido__totalPedido--strong"
      >${{ totalPedido }}</strong
    >
  </div>
  <div class="sectionPedido__divIcon">
    <i class="sectionPedido__divIcon--i">{{ pedidosLength }}</i>
  </div>
  <div class="sectionPedido__content" *ngIf="sectionContentPedido">
    <div
      class="sectionPedido__content--divCombo"
      *ngFor="let combo of combosPedido"
    >
      <div class="sectionPedido__content--divCombo-title">
        {{ combo.nombre }}
      </div>
      <div class="sectionPedido__content--divCombo-title">
        {{ combo.precio }}
      </div>
      <img
        class="sectionPedido__content--divCombo-title"
        [src]="combo.img"
        [alt]="combo.nombre"
      />
      <div class="sectionPedido__content--divCombo-title">
        {{ combo.favorito }}
      </div>
    </div>
  </div>
</section>

<!-- screen: screenPedido() -->
