<!-- !!! Header !!! -->
<header>
  <a [routerLink]="'/'" class="logo">MigueLizBurguer's</a>
  <div class="toggle" (click)="toogleMenu()"></div>
  <ul class="menu">
    <li><a [routerLink]="'/'">Inicio</a></li>
    <li><a [routerLink]="'/menu'">Menú</a></li>
    <li><a [routerLink]="'/reservas'">Reservas</a></li>
    <li><a [routerLink]="'/tiendas'">Tiendas</a></li>

    <!-- <input type="text" class="search" /><label for="serch">Búscar</label> -->
  </ul>
</header>
<div>
  <router-outlet></router-outlet>
</div>