<section #body>
  <div class="container">
    <div class="blueBg">
      <div class="box signIn">
        <h2>Ya tienes una Cuenta?</h2>
        <button #signInBtn>Login</button>
      </div>
      <div class="box signUp">
        <h2>No tienes una Cuenta?</h2>
        <button #signUpBtn>Registrarse</button>
      </div>
    </div>
    <div #formBx class="formBx">
      <!-- !!! SignIn !!! -->
      <div class="form signInForm">
        <form>
          <h3>Login</h3>
          <input
            required
            type="number"
            name="telefono"
            [(ngModel)]="telefono"
            placeholder="Teléfono"
          />
          <input
            required
            type="password"
            name="contraseña"
            [(ngModel)]="contrasena"
            placeholder="Contraseña"
          />
          <input type="submit" value="Ingresar" (click)="checkLogin()" />
          <a [href]="'#'" class="forgot">¿Olvidaste la Contraseña?</a>
        </form>
      </div>
      <!-- !!! SignUp !!! -->
      <div class="form signUpForm">
        <form>
          <h3>Crear Cuenta</h3>
          <input
            required
            type="number"
            name="telefono"
            [(ngModel)]="telefono"
            placeholder="Teléfono*"
          />
          <input
            type="text"
            [(ngModel)]="nombres"
            name="nombres"
            placeholder="Nombres (Opcional)"
          />
          <input
            type="text"
            name="apellidos"
            [(ngModel)]="apellidos"
            placeholder="Apellidos (Opcional)"
          />
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="Correo Electrónico (Opcional)"
          />
          <input
            required
            type="password"
            name="contrasenña"
            [(ngModel)]="contrasena"
            placeholder="Contraseña*"
          />
          <input
            required
            type="password"
            name="repiteContraseña"
            [(ngModel)]="repiteContrasena"
            placeholder="Repite Contraseña*"
          />
          <input type="submit" value="Registrar" />
        </form>
      </div>
    </div>
  </div>
</section>
