<section class="order" id="order">
  <h1 class="heading">Tenemos Domicilio GRATIS y rápido,</h1>
  <h3 class="sub-heading">Pero primero finaliza tu orden:</h3>

  <form>
    <div class="inputBox">
      <div class="input">
        <span>Nombre Completo:</span>
        <input
          type="text"
          placeholder="Ingresa nombre de quien recibe el pedido"
          name="nombreCompleto"
          [(ngModel)]="nombreCompleto"
        />
      </div>
      <div class="input">
        <span>Número de WhatsApp:</span>
        <input
          type="number"
          placeholder="Ingresa número de celular de quien recibe el pedido"
          name="telefono"
          [(ngModel)]="telefono"
        />
      </div>
    </div>
    <div class="inputBox">
      <div class="input">
        <span>Dirección Exacta:</span>
        <input
          type="text"
          placeholder="Ingresa dirección exacta de quien recibe el pedido"
          name="direccionExacta"
          [(ngModel)]="direccionExacta"
        />
      </div>
      <div class="input">
        <span>Datos Extras Dirección:</span>
        <input
          type="text"
          placeholder="Ingresa detalles Ej: (Apto, Casa, Bloque, Manzana)"
          name="detallesDireccion"
          [(ngModel)]="detallesDireccion"
        />
      </div>
    </div>
    <div class="inputBox">
      <div class="input textarea">
        <span>Detalles sobre el pedido en general:</span>
        <textarea
          name=""
          placeholder="Ingresa algún detalle a tener en cuenta al momento de hacer o despachar tu pedido."
          cols="30"
          rows="10"
        ></textarea>
      </div>
    </div>

    <input
      type="submit"
      value="Enviar Orden Ya!"
      class="btn"
      (click)="SendOrder()"
    />
  </form>
</section>

<section>
  <app-footer></app-footer>
</section>
