<section class="banner">
  <a class="banner__back" [routerLink]="'/menu'">Atrás</a>
  <div class="banner__content" *ngIf="combo">
    <div class="banner__content--contentBx">
      <h2>{{ combo.nombre }}</h2>
      <!--  !!!  existentes:  REF:  estrellas: !!!-->
      <p>
        Nuestro combo está hecho con "{{ combo.ingredientes }}" además incluye
        "{{ combo.incluye }}", tinene un peso de "{{ combo.peso }}"
      </p>
      <div class="banner__content--contentBx-inlineBlock">
        <button
          type="button"
          (click)="addToCar(combo._id, undefined, '/combo/' + combo._id)"
          *ngIf="
            appComponent.existeComboPedido(combo._id, appComponent.pedidos)
          "
        >
          Agregar
        </button>
        <div
          class="addRestCar"
          *ngIf="
            !appComponent.existeComboPedido(combo._id, appComponent.pedidos)
          "
        >
          <div class="title">
            <h5>Cantidad:</h5>
          </div>
          <div
            class="restCar"
            (click)="restCar(combo._id, '/combo/' + combo._id)"
          >
            -
          </div>
          <input
            type="number"
            [value]="appComponent.getCantidadCombos(combo._id)"
            disabled
          />
          <div class="addCar" (click)="addCarCantidad(combo._id)">+</div>
        </div>

        <span>{{ combo.precio | currency : "$" : "symbol" : "4.0-0" }}</span>
      </div>
    </div>
    <div class="banner__content--imgBx">
      <img [src]="combo.img" [alt]="combo.nombre" />
    </div>
  </div>
</section>
<!-- <section *ngIf="combo">
  <app-comentarios
    [comentarios]="combo.comentarios"
    [comentarioID]="combo._id"
  ></app-comentarios>
</section> 
<section>
  <app-footer></app-footer>
</section>-->
