<section class="banner">
  <a class="banner__back" [routerLink]="'/menu'">Atrás</a>
  <div class="banner__content" *ngIf="combo">
    <div class="banner__content--contentBx">
      <h2>{{ combo.nombre }}</h2>
      <!--  !!!  existentes:  REF:  estrellas: !!!-->
      <p>
        Nuestro combo está hecho con "{{ combo.ingredientes }}" además incluye
        "{{ combo.incluye }}", tinene un peso de "{{ combo.peso }}"
      </p>
      <div class="banner__content--contentBx-inlineBlock">
        <a href="#">Buy Now</a>
        <span>{{ combo.precio }}</span>
      </div>
    </div>
    <div class="banner__content--imgBx">
      <img [src]="combo.img" [alt]="combo.nombre" />
    </div>
  </div>
</section>
<section *ngIf="combo">
  <app-comentarios [comentarios]="combo.comentarios"></app-comentarios>
</section>
<section>
  <app-footer></app-footer>
</section>
