<section
  [ngClass]="{
    pc: window.innerWidth > 991,
    wrap: true,
    mobile: window.innerWidth < 991
  }"
>
  <div class="container-fluid">
    <div class="title">
      <h2>Disfruta de nuestros mejores Combos</h2>
    </div>
    <div class="container" id="container">
      <div class="row" id="row">
        <ng-container *ngIf="window.innerWidth < 991">
          <swiper
            [effect]="'coverflow'"
            [centeredSlides]="true"
            [navigation]="true"
            [slidesPerView]="'auto'"
            [autoplay]="{
              delay: 1500,
              disableOnInteraction: true
            }"
            [pagination]="{
              clickable: true
            }"
            class="mySwiper"
          >
            <ng-template
              swiperSlide
              *ngFor="let combo of CombosBD; let i = index"
            >
              <div class="col-sm-4">
                <div class="price-table">
                  <div
                    class="price-head"
                    style="background: url('{{ combo.img }}');"
                  >
                    <h4>Combo {{ i + 1 }}</h4>
                    <h2>{{ combo.precio }}<span>C/U</span></h2>
                  </div>
                  <div class="price-content">
                    <ul>
                      <li><u>Peso:</u>{{ combo.peso }}</li>
                      <li><u>Ingredientes:</u>{{ combo.ingredientes }}</li>
                      <li><u>Incluye:</u>{{ combo.incluye }}</li>
                      <li>
                        <div class="rating">
                          <fa-icon
                            [icon]="faStar"
                            aria-hidden="true"
                            [ngClass]="{
                              gold: combo.estrellas >= 1,
                              gray: true
                            }"
                          ></fa-icon>
                          <fa-icon
                            [icon]="faStar"
                            aria-hidden="true"
                            [ngClass]="{
                              gold: combo.estrellas >= 2,
                              gray: true
                            }"
                          ></fa-icon>
                          <fa-icon
                            [icon]="faStar"
                            aria-hidden="true"
                            [ngClass]="{
                              gold: combo.estrellas >= 3,
                              gray: true
                            }"
                          ></fa-icon>
                          <fa-icon
                            [icon]="faStar"
                            aria-hidden="true"
                            [ngClass]="{
                              gold: combo.estrellas >= 4,
                              gray: true
                            }"
                          ></fa-icon>
                          <fa-icon
                            [icon]="faStar"
                            aria-hidden="true"
                            [ngClass]="{
                              gold: combo.estrellas >= 5,
                              gray: true
                            }"
                          ></fa-icon>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="price-button">
                    <a href="#">Agregar</a>
                  </div>
                </div>
              </div>
            </ng-template>
          </swiper>
        </ng-container>
        <!-- !!!!!!!!! -->
        <ng-container *ngIf="window.innerWidth >= 991">
          <div class="col-sm-4" *ngFor="let combo of CombosBD; let i = index">
            <div class="price-table">
              <div
                class="price-head"
                style="background: url('{{ combo.img }}');"
              >
                <h4>Combo {{ i + 1 }}</h4>
                <h2>{{ combo.precio }}<span>C/U</span></h2>
              </div>
              <div class="price-content">
                <ul>
                  <li><u>Peso:</u>{{ combo.peso }}</li>
                  <li><u>Ingredientes:</u>{{ combo.ingredientes }}</li>
                  <li><u>Incluye:</u>{{ combo.incluye }}</li>
                  <li>
                    <div class="rating">
                      <fa-icon
                        [icon]="faStar"
                        aria-hidden="true"
                        [ngClass]="{ gold: combo.estrellas >= 1, gray: true }"
                      ></fa-icon>
                      <fa-icon
                        [icon]="faStar"
                        aria-hidden="true"
                        [ngClass]="{ gold: combo.estrellas >= 2, gray: true }"
                      ></fa-icon>
                      <fa-icon
                        [icon]="faStar"
                        aria-hidden="true"
                        [ngClass]="{ gold: combo.estrellas >= 3, gray: true }"
                      ></fa-icon>
                      <fa-icon
                        [icon]="faStar"
                        aria-hidden="true"
                        [ngClass]="{ gold: combo.estrellas >= 4, gray: true }"
                      ></fa-icon>
                      <fa-icon
                        [icon]="faStar"
                        aria-hidden="true"
                        [ngClass]="{ gold: combo.estrellas >= 5, gray: true }"
                      ></fa-icon>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="price-button">
                <a href="#">Agregar</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</section>
<!-- !!!!!!!!! -->
<section id="section">
  <div class="containerBg">
    <div class="card" *ngFor="let card of cards; let i = index">
      <div class="imgBx">
        <div class="img" style="background-image: url('{{ card.img }}');"></div>
        <ul class="action">
          <li>
            <fa-icon [icon]="faHeart" aria-hidden="true"></fa-icon>
            <span>Agregar a Favoritos</span>
          </li>
          <li (click)="getDetails(card._id)">
            <fa-icon [icon]="faEye" aria-hidden="true"></fa-icon>
            <span>Ver Detalles</span>
          </li>
          <li>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <fa-icon [icon]="faShoppingCart" aria-hidden="true"></fa-icon>
            <span>Agregar al Carrito</span>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="productName">
          <h3>{{ card.nombre }}</h3>
          <label for="ref"
            >Referencia:<span id="ref"> {{ card.REF }}</span></label
          >
        </div>
        <div class="priceRating">
          <h3>{{ card.precio }}<span> C/U</span></h3>
          <div class="rating">
            <fa-icon
              [icon]="faStar"
              aria-hidden="true"
              [ngClass]="{ gold: card.estrellas >= 1, gray: true }"
            ></fa-icon>
            <fa-icon
              [icon]="faStar"
              aria-hidden="true"
              [ngClass]="{ gold: card.estrellas >= 2, gray: true }"
            ></fa-icon>
            <fa-icon
              [icon]="faStar"
              aria-hidden="true"
              [ngClass]="{ gold: card.estrellas >= 3, gray: true }"
            ></fa-icon>
            <fa-icon
              [icon]="faStar"
              aria-hidden="true"
              [ngClass]="{ gold: card.estrellas >= 4, gray: true }"
            ></fa-icon>
            <fa-icon
              [icon]="faStar"
              aria-hidden="true"
              [ngClass]="{ gold: card.estrellas >= 5, gray: true }"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <app-footer></app-footer>
</section>
